.home {
  min-height: 100vh;
  background: #FAFAFA;
}
.home .contentBox {
  display: flex;
  justify-content: center;
}
.home .contentBox .content {
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .contentBox .content .start_broadcast {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home .contentBox .content .start_broadcast .sign {
  display: flex;
  align-items: center;
  margin: 34rpx 0 30rpx;
}
.home .contentBox .content .start_broadcast .sign .line {
  width: 8rpx;
  height: 36rpx;
  background: #007AFF;
  border-radius: 430rpx;
  margin: 0 0 0 16rpx;
}
.home .contentBox .content .start_broadcast .sign .title {
  font-size: 34rpx;
  font-weight: 600;
  color: #333333;
  line-height: 50rpx;
  margin: 0 0 0 12rpx;
}
.home .contentBox .content .start_broadcast .information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .contentBox .content .start_broadcast .information .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #FEFFFE;
  box-shadow: 0px 4rpx 4rpx 2rpx rgba(0, 0, 0, 0.1);
  border-radius: 16rpx;
  margin: 0 0 24rpx 0;
}
.home .contentBox .content .start_broadcast .information .container .live_state {
  margin: 26rpx 0 20rpx 24rpx;
  font-size: 26rpx;
  font-weight: normal;
  color: #007AFF;
  line-height: 26rpx;
}
.home .contentBox .content .start_broadcast .information .container .start {
  display: flex;
  margin: 22rpx 0 16rpx 24rpx;
}
.home .contentBox .content .start_broadcast .information .container .start image {
  width: 124rpx;
  height: 44rpx;
}
.home .contentBox .content .start_broadcast .information .container .live_title {
  font-size: 30rpx;
  font-weight: 600;
  color: #333333;
  line-height: 30rpx;
  margin: 0 0 16rpx 24rpx;
}
.home .contentBox .content .start_broadcast .information .container .live_message {
  width: 610rpx;
  font-size: 26rpx;
  font-weight: normal;
  color: #999999;
  line-height: 26rpx;
  margin: 0 0 20rpx 24rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home .contentBox .content .start_broadcast .information .container .timeWait {
  display: flex;
  margin: 0 24rpx 25rpx;
  flex-direction: column;
}
.home .contentBox .content .start_broadcast .information .container .timeWait .timeWait-left {
  display: flex;
}
.home .contentBox .content .start_broadcast .information .container .timeWait .timeWait-left image {
  width: 24rpx;
  height: 24rpx;
}
.home .contentBox .content .start_broadcast .information .container .timeWait .timeWait-left .date {
  font-size: 24rpx;
  font-weight: normal;
  color: #999999;
  line-height: 24rpx;
  margin: 0 0 0 8rpx;
}
.home .contentBox .content .start_broadcast .information .container .timeWait .timeWait-right {
  display: flex;
  margin: 15rpx 0 0;
}
.home .contentBox .content .start_broadcast .information .container .timeWait .timeWait-right .time {
  font-size: 24rpx;
  font-weight: normal;
  color: #E45E5E;
  line-height: 26rpx;
}
